# PWM in sysfs
type sysfs_pwm, fs_type, sysfs_type;
type vendor_sysfs_pwm, fs_type, sysfs_type;

# GPIO in sysfs
type sysfs_gpio, fs_type, sysfs_type;

# Hardware devices
type vendor_i2c_device, dev_type;
type vendor_gpio_device, dev_type;

# Data files
type vendor_sensor_data_file, file_type, data_file_type;