type vendor_vehicle_setup, domain;
type vendor_vehicle_setup_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(vendor_vehicle_setup)

# Shell & Toolbox (om commando's als chown/chmod/restorecon uit te voeren)
allow vendor_vehicle_setup vendor_shell_exec:file rx_file_perms;
allow vendor_vehicle_setup vendor_toolbox_exec:file rx_file_perms;

# PWM & GPIO toegang
allow vendor_vehicle_setup vendor_sysfs_pwm:file rw_file_perms;
allow vendor_vehicle_setup vendor_sysfs_pwm:dir r_dir_perms;
allow vendor_vehicle_setup vendor_gpio_device:chr_file rw_file_perms;

# Properties
get_prop(vendor_vehicle_setup, vendor_vehicle_prop)

# Capability (Eigenaar van bestanden wijzigen)
allow vendor_vehicle_setup self:capability { chown fowner fsetid sys_admin };

# --- RELABELING LOGICA (CRUCIAAL) ---
# Sta toe dat het script bestanden in sysfs opzoekt en hun label wijzigt
allow vendor_vehicle_setup sysfs:dir { r_dir_perms relabelfrom };
allow vendor_vehicle_setup sysfs:file { getattr relabelfrom };
allow vendor_vehicle_setup sysfs:lnk_file read;

# Sta toe dat het label gewijzigd wordt NAAR vendor_sysfs_pwm
allow vendor_vehicle_setup vendor_sysfs_pwm:dir { relabelto };
allow vendor_vehicle_setup vendor_sysfs_pwm:file { relabelto };