# Service type for ISharedSecret implementation provided by gatekeeper
# This is separate from hal_gatekeeper_service due to neverallow restrictions
type gatekeeper_sharedsecret_service, service_manager_type;
