# Allow gatekeeper to add its shared secret service implementation
# This is a separate service type to avoid neverallow restrictions
allow hal_gatekeeper_default gatekeeper_sharedsecret_service:service_manager add;
