vndbinder_use(hal_camera_default);
hal_client_domain(hal_camera_default, hal_graphics_allocator);
hal_client_domain(hal_camera_default, hal_graphics_composer);

allow hal_camera_default vndbinder_device:chr_file { ioctl map open read write };
allow hal_camera_default hal_graphics_mapper_hwservice:hwservice_manager find;
allow hal_camera_default dmabuf_heap_device:chr_file { ioctl open read write };
allow hal_camera_default sysfs:dir { open read };
allow hal_camera_default sysfs:file { getattr open read };

allow hal_camera_service kmsg_debug_device:chr_file write;

allow hal_camera_default video_device:chr_file rw_file_perms;
allow hal_camera_default graphics_device:chr_file rw_file_perms;
allow hal_camera_default gpu_device:chr_file rw_file_perms;

allow hal_camera_default hal_graphics_mapper_hwservice:hwservice_manager find;

# Allow access to vendor graphics properties for gralloc
gpu_access(hal_camera_default)
get_prop(hal_camera_default, vendor_graphics_prop)

# Suppress audit for default_prop access
dontaudit hal_camera_default default_prop:file { read open getattr map };
