# Suppress audits for oat_primary directory creation - neverallow prevents appdomain write to system_data_file
dontaudit secure_element system_data_file:dir { add_name create write remove_name };
dontaudit secure_element system_data_file:file { create write open rename };
